import { Given, When, Then } from '@cucumber/cucumber';
import { expect } from '@playwright/test';

{{range .Steps}}
{{if eq .Type "Given"}}
Given('{{.Pattern}}', async function ({{.Parameters}}) {
  // TODO: Implement step
  throw new Error('Step not implemented');
});
{{else if eq .Type "When"}}
When('{{.Pattern}}', async function ({{.Parameters}}) {
  // TODO: Implement step
  throw new Error('Step not implemented');
});
{{else if eq .Type "Then"}}
Then('{{.Pattern}}', async function ({{.Parameters}}) {
  // TODO: Implement step
  throw new Error('Step not implemented');
});
{{end}}

{{end}}
